

.b0-0{
	width:290px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
        background-color:#e6e6fa;
        position : absolute ; top: 25px;
           left: 200px; 
           border-radius: 10px
}



.b0-1{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
        background-color:#e6e6fa;
        position : absolute ; top: 100px;
           left: 200px; ;
}

.b0-2{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 100px;
           left: 260px; ;
}

.b0-3{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 100px;
           left: 320px; ;
}


.b0-4{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 100px;
           left: 380px; ;
}



.b0-5{
width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 100px;
           left: 440px; ;
}


.b1-1{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
        background-color:#e6e6fa;
        position : absolute ; top: 200px;
           left: 200px; ;
}

.b1-2{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 200px;
           left: 260px; ;
}

.b1-3{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 200px;
           left: 320px; ;
}


.b1-4{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 200px;
           left: 380px; ;
}



.b1-5{
width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 200px;
           left: 440px; ;
}








.b2-1{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
        background-color:#e6e6fa;
        position : absolute ; top: 260px;
           left: 200px; ;
}

.b2-2{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 260px;
           left: 260px; ;
}

.b2-3{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 260px;
           left: 320px; ;
}


.b2-4{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 260px;
           left: 380px; ;
}



.b2-5{
width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 260px;
           left: 440px; ;
}



.b3-1{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
        background-color:#e6e6fa;
        position : absolute ; top: 320px;
           left: 200px; ;
}

.b3-2{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 320px;
           left: 260px; ;
}

.b3-3{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 320px;
           left: 320px; ;
}


.b3-4{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 320px;
           left: 380px; ;
}



.b3-5{
width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 320px;
           left: 440px; ;
}






.b4-1{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
        background-color:#e6e6fa;
        position : absolute ; top: 380px;
           left: 200px; ;
}

.b4-2{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 380px;
           left: 260px; ;
}

.b4-3{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 380px;
           left: 320px; ;
}


.b4-4{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 380px;
           left: 380px; ;
}



.b4-5{
width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 380px;
           left: 440px; ;
}






.b5-1{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
        background-color:#e6e6fa;
        position : absolute ; top: 440px;
           left: 200px; ;
}

.b5-2{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 440px;
           left: 260px; ;
}

.b5-3{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 440px;
           left: 320px; ;
}


.b5-4{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 440px;
           left: 380px; ;
}



.b5-5{
width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 440px;
           left: 440px; ;
}




.b6-1{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
        background-color:#e6e6fa;
        position : absolute ; top: 500px;
           left: 200px; ;
}

.b6-2{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 500px;
           left: 260px; ;
}

.b6-3{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 500px;
           left: 320px; ;
}


.b6-4{
	width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 500px;
           left: 380px; ;
}



.b6-5{
width:50px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 27px;
	background-color:#e6e6fa;
        position : absolute ; top: 500px;
           left: 440px; 

}


.text_center_middle{

color: #323332;

text-align: center;

line-height: 50px;

}


.l1{

user-select: none;
width:30px;
	height:50px;
	text-align:center;

	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 600px;
           left: 143px; 
        border-radius: 5px
}

.l2{

user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 600px;
           left: 177px; 
        border-radius: 5px
}

.l3{

user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 600px;
           left: 211px; 
        border-radius: 5px
}

.l4{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 600px;
           left: 245px; 
        border-radius: 5px
}

.l5{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 600px;
           left: 279px; 
        border-radius: 5px
}

.l6{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 600px;
           left: 313px; 
        border-radius: 5px
}

.l7{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 600px;
           left: 347px; 
        border-radius: 5px
}

.l8{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 600px;
           left: 381px; 
        border-radius: 5px
}
.l9{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 600px;
           left: 415px; 
        border-radius: 5px
}
.l10{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 600px;
           left: 449px; 
        border-radius: 5px
}
.l11{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 600px;
           left: 483px; 
        border-radius: 5px
}
.l12{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 600px;
           left: 517px; 
        border-radius: 5px
}



.l13{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 654px;
           left: 160px; 
        border-radius: 5px
}

.l14{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 654px;
           left: 194px; 
        border-radius: 5px
}

.l15{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 654px;
           left: 228px; 
        border-radius: 5px
}

.l16{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 654px;
           left: 262px; 
        border-radius: 5px
}
.l17{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 654px;
           left: 296px; 
        border-radius: 5px
}
.l18{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 654px;
           left: 330px; 
        border-radius: 5px
}
.l19{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 654px;
           left: 364px; 
        border-radius: 5px
}
.l20{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 654px;
           left: 398px; 
        border-radius: 5px
}
.l21{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 654px;
           left: 432px; 
        border-radius: 5px
}
.l22{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 654px;
           left: 466px; 
        border-radius: 5px
}

.l23{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 654px;
           left: 500px; 
        border-radius: 5px
}

.l24{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 708px;
           left: 177px; 
        border-radius: 5px
}



.l25{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 708px;
           left: 211px; 
        border-radius: 5px
}

.l26{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 708px;
           left: 245px; 
        border-radius: 5px
}

.l27{



user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 708px;
           left: 279px; 
        border-radius: 5px
}

.l28{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 708px;
           left: 313px; 
        border-radius: 5px
}

.l29{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 708px;
           left: 347px; 
        border-radius: 5px
}

.l30{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 708px;
           left: 381px; 
        border-radius: 5px
}

.l31{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 708px;
           left: 415px; 
        border-radius: 5px
}

.l32{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 708px;
           left: 449px; 
        border-radius: 5px
}

.l33{


user-select: none;
width:30px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 708px;
           left: 143px; 
        border-radius: 5px
}


.l34{


user-select: none;
width:63px;
	height:50px;
	text-align:center;
	text-transform:uppercase;
	line-height:50px;
	font-size: 20px;
	background-color:#e6e6fa;
        position : absolute ; top: 708px;
           left: 483px; 
        border-radius: 5px
}


.final{


width:290px;
	height:30px;
	text-align:center;
	text-transform:uppercase;
	line-height:35px;
	font-size: 14px;
	background-color:#ffffff;
        position : absolute ; top: 560px;
           left: 200px; 
        border-radius: 5px
}

